:root{
    --base-back: rgb(150,150,150);
    --black: rgb(0,0,0);
--bs-nav-bg: rgb(142, 162, 172);
--bs-background-bg: rgb(230, 230, 230);
}


body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: var(--bs-background-bg);
}


.header{
    background-color: rgb(155, 150, 150);
}
h1{
    color:white;
    text-align: left;
}

h3 {
    font-size: 1.5em;
}


.sprint{text-align: center;}

.Erd{padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
}
.html{  font-size: .875em;
    }
.h3{font-size: 1.5em;
       text-align: center;
}

.col-sm-6{padding: 0;}

/* -- navigation --- */
.nav-link{font-size: 1em;
  }

 .navbar{
  background-color: var(--bs-nav-bg);
  padding-left: 5px;
  }

.navbar-text{
    text-align: right;
    width: 100%;
    padding-right: 20px;
    background-color: var(--bs-nav-bg);
  }

.jump-target{text-align: center;
                font-size: 3em;}

 .jump-target::before{
          content: "";
          display: block;
          height: 80px;
          margin: -70px 0 0 0;
 }


 .maintext{
    font-size: 1.05em;
    text-align: center;
     padding-right: 1em;
     padding-left: 1em;
}

 .subheading{
    text-align: center;
    font-size: 15px;
     font-style: italic;
}

 .plan{background-color: rgb(240, 245, 246);}
footer{
    background-color: var(--base-back);
    text-align: center;
    padding: 1em 0 1em 0;
    font-size: 2em;
    color: white;
}








video{
    max-height: 300px;
    display: block;
    margin:auto;
    margin-bottom: 1em;
}